<div class="container"> 

    <div class="pb-3">

    <a routerLink="/form" *ngIf="ulogged!=''">DAR DE ALTA UN PRODUCTO </a>

    <button type="submit" *ngIf="ulogged!=''" class="btn btn-primary btn-block mt-3" (click)="salir()"> Salir  </button>

    <button type="submit" *ngIf="ulogged==''" class="btn btn-primary btn-block mt-3" (click)="loggin()"> Loggin </button>

    </div>

    <table class="table"> 
        <thead class="table-dark"> 
            <tr> <td>NOMBRE</td><td>UBICACION</td><td>PRECIO</td><td>CODIGO</td> </tr> </thead> 
            <tbody> 
                <tr *ngFor="let i of ListaProductos"> 
                    <td><a routerLink="/form/{{i.id}}">{{i.nombre}}</a></td><td>{{i.ubicacion}}</td><td>{{i.precio}}</td><td>{{i.codigo}}</td> </tr> 
            </tbody> </table> </div>


           