<div class="container">
<div class="row g-3">
    <div class="col-sm-6">
      <label for="Nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="Nombre" placeholder="" value="" [(ngModel)]="producto.nombre">
    </div>

    <div class="col-sm-6">
        <label for="Codigo" class="form-label">Código</label>
        <input type="text" class="form-control" id="Codigo" placeholder="" value="" [(ngModel)]="producto.codigo">
    </div>
</div>

<div class="row g-3">
    <div class="col-sm-6">
      <label for="Ubicacion" class="form-label">Ubicación</label>
      <input type="text" class="form-control" id="Ubicacion" placeholder="" value="" [(ngModel)]="producto.ubicacion">
    </div>

    <div class="col-sm-6">
        <label for="Precio" class="form-label">Precio</label>
        <input type="text" class="form-control" id="Precio" placeholder="" value="" [(ngModel)]="producto.precio">
    </div>
</div>
<button class="w-100 btn btn-primary btn-lg mt-3" type="submit" role="button" (click)='create()' >Cargar</button>
</div>